__pycache__/
*.py[cod]
*.class
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.ruff_cache/
.mypy_cache/
dist/
build/
*.egg-info/
.env
.venv
env/
venv/
dotmaster/_version.py
.dotmaster.log
.dotmaster/
.DS_Store
